spring:
  application:
    name: hello-spring-kafka-app
    bootstrap:
      enabled: true
  
  # config:
  #     import: configtree:/mnt/secrets-store/

  config:
      # import: "optional:file:/vault/secrets/database.properties"
      import: "optional:file:${CONFIG_HOME:/vault/secrets}/database.properties"
  kafka:
    bootstrap-servers: kafka-cluster-kafka-bootstrap.strimzi.svc.cluster.local:9092

  # datasource:
  #     url: jdbc:postgresql://acid-minimal-cluster2.postgress.svc.cluster.local:5432/foo2
  #     # username: ${db-username}
  #     # password: ${db-password}postgresql://postgres:u53zk8jVAGlDZmmv6zaMhwSIBnNk9RdjETOfwHTb3hqa8dOEXYSW1uPYkkebrWm0@acid-minimal-cluster2.postgress.svc.cluster.local:5432/foo2
  #     username: ${username}
  #     password: ${password}
  #     driver-class-name: org.postgresql.Driver

  cloud:
      vault:
        enabled: false

management:
  endpoints:
    web:
      exposure:
        include: "*"



# logging:
#   level:
#     org.springframework.vault: DEBUG
